<main role="main" class="container" style="border: solid; align-content: center; align-content: center;  text-align: center; margin: 60px; padding: 10px">
   <div class="starter-template">
      <h1> Tu veux tout savoir ? (attention ça croustille...)</h1>
        <ul>
					<p class="lead"> <b>Titre</b>: <%= @gossip.title%> </p>
					<p class="lead"> <b>Auteur</b>: <%= link_to @gossip.user.first_name + " " + @gossip.user.last_name, author_show_path(@gossip.user.id) %> </p>
					<p class="lead"> <b>Contenu</b> : <%=@gossip.content%> </p>
					<p class="lead"> <b>Date de création</b> : <%=@gossip.created_at%> </p>
				</ul>
    </div>
</main>
