<main role="main" style="text-align: center; align-items: center; align-content: center; margin: 20px; padding-bottom: 30px">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h1 class="cover-heading">Envie de nous envoyer un mot doux ? </h1>
        <p class="lead">jonas@jonas.com</p>
        <p class="lead">fleur@fleur.com</p>
        <p class="lead">mahieu@mathieu.com</p>
     </div>
 </main>
