
<div class="container marketing" style="margin: 10%; text-align: center; align-items: center; ">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://media-exp1.licdn.com/dms/image/C4E03AQHC-AkifjBsXQ/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=6ve6yfgh8cBzIN6JguNe9USOMXcH-97e8qM8yffkPyY" alt="Generic placeholder image" width="140" height="140">
            <h2>Fleur Himmler</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/himmler-fleur/" role="button">LinkedIn &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://ca.slack-edge.com/T3W8B88JW-US77JDVC1-d752520311dc-512" alt="Generic placeholder image" width="140" height="140">
            <h2>Jonas Audia </h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://media-exp1.licdn.com/dms/image/C4E03AQENDF0z2fsm7Q/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=aAm5hiknsNEiE5eM3KmIJnUYFJ66opUaBQcd8QwuMlE" alt="Generic placeholder image" width="140" height="140">
            <h2>Mathieu Farge</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/mathieu-farge-b096978b/" role="button">LinkedIn &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>